@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

html {
	height: 8vh;
}

body {
	background: url(img/Background.jpg);
	background-size: cover;
	font-family: 'Montserrat';
	color: #fff;
	align-items: center;
	padding-left: 100px;
	margin-top: 130px;
}

img {
	height: 100px;
	align-items: center;
}

p {
	margin-top: 50px;
	max-width: 600px;
	margin-bottom: 50px;
}

a {
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #d2c600;
	text-decoration: none;
	color: #fff;
}

a:hover {
	background-color: #afa500;
	color: #808080;
}